/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: #1a1a1a; /* Комфортный темно-серый цвет */
  
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}


main {
  background-color: #5074bb;
  padding: 20px;
}

h1 {
  margin-bottom: 4px;
}

