/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a; /* Комфортный темно-серый цвет */
  color: #f5f5f5;           /* Мягкий белый текст */
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
